/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
/*
	Example usage:
	.some-element {
		@media @tablet {
			width: 100%;
		}
		@media @phone {
			width: 50%;
		}
	}
*/
/* less-watch-compiler less css index.less */
.user-settings__container {
  display: flex;
  width: 1031px;
  height: 281px;
  background-color: #fbfcfd;
}
.user-settings__left-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
}
.user-settings__picture {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-top: 15%;
}
.user-settings__mid-col {
  display: flex;
  width: 60%;
  flex-wrap: wrap;
  justify-content: space-between;
}
.user-settings__text-field {
  width: 45%;
}
.user-settings__right-col {
  display: flex;
  justify-content: flex-end;
  width: 20%;
}
.user-settings__reset-btn {
  display: flex;
  margin: 15px;
  width: 35%;
  height: 50px;
}
.user-settings__save-btn {
  height: 50px;
}
.user-bar__container {
  display: flex;
}
.user-bar__info {
  display: flex;
}
.user-bar__info > div {
  margin-left: 5px;
  margin-right: 5px;
}
.user-bar__info > img {
  margin-left: 5px;
  margin-right: 5px;
}
.post-page__container {
  display: flex;
  flex-direction: column;
}
.post-page__container .post-page__post {
  display: flex;
}
.post-page__container .post-page__post .post__left-col {
  width: 10%;
}
.post-page__container .post-page__comments {
  margin-left: 10%;
}
.reply__container {
  margin-left: 30px;
  border-left-width: 3px;
  border-left-color: #f3f5f8;
  border-left-style: solid;
}
.postList__listItem {
  display: flex;
  flex-direction: column;
}
.add-post__container {
  display: flex;
  font-family: sans-serif;
}
.add-post__container .container__left-col {
  display: flex;
  justify-content: center;
}
.add-post__container .container__right-col .right-col__text-area {
  margin-top: 10px;
  font-size: 1.5em;
  height: 300px;
  width: 800px;
  background-color: #fdfdfe;
  border-style: solid;
  border-width: 1px;
  border-color: #f7f8fb;
}
.add-post__container .container__right-col .right-col__bottom-row {
  display: flex;
  height: 45px;
  width: 100%;
  margin-top: -3px;
  background-color: #f7f8fb;
}
.add-post__container .container__right-col .right-col__bottom-row .bottom-row__left {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: space-around;
}
.add-post__container .container__right-col .right-col__bottom-row .bottom-row__right {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: flex-end;
  justify-content: space-around;
}
.add-post__container .container__right-col .right-col__bottom-row .bottom-row__right-circle {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background-color: green;
}
.top-bar {
  display: flex;
  position: relative;
  align-items: center;
  width: 100%;
}
.top-bar__logo {
  margin-left: 2.5%;
  margin-right: auto;
}
.top-bar__user-button {
  margin-left: 5%;
}
.top-bar__user-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.top-bar__search {
  margin-left: 55%;
  border-radius: 15px;
  background-color: #fbfcfd;
  padding: 5px 5px 5px 25px;
}
.top-bar__search-icon {
  margin: 0px 10px -5px -9px;
}
.top-bar__search-input {
  color: black;
  background-color: #fbfcfd;
  border-style: none;
  margin-left: -5px;
}
.top-bar__search-input:focus {
  outline-width: 0;
}
.top-bar__notifications {
  position: relative;
  padding: 10px;
  padding-bottom: 0;
}
.top-bar__notifications__icon {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 0;
  top: 0;
}
.top-bar__notifications__icon > img {
  width: 20px;
}
.top-bar__notifications__icon > span {
  position: absolute;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  right: 6px;
  top: 1px;
}
.top-bar__notifications__bell {
  width: 25px;
}
.notifications-menu {
  position: absolute;
  width: 315px;
  right: -50px;
  background-color: white;
  padding: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-shadow: 5px 5px 20px lightgray;
}
.notifications-menu strong {
  font-weight: bold;
}
.notifications-menu__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.notifications-menu__header > button {
  background-color: inherit;
  font-family: inherit;
  border: none;
  color: #418dcf;
}
.notifications-menu__item {
  padding: 10px;
}
.notifications-menu__item__user {
  display: flex;
  align-content: center;
  padding: 3px;
}
.notifications-menu__item__user > strong {
  padding: 5px;
}
.notifications-menu__item__user-image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.notifications-menu__item--dark {
  background-color: #EEEEEE;
}
.notifications-menu__item--light {
  background-color: white;
}
.home-page__bottom {
  display: flex;
}
.home-page__bottom .home-page__left-nav {
  width: 20%;
}
.home-page__bottom .home-page__main {
  width: 50%;
}
.uploader__container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.uploader__container .uploader__picture {
  margin-left: 15%;
  border-radius: 50%;
  width: 100%;
}
.uploader__container .uploader__inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.uploader__container .uploader__label {
  color: blue;
  display: flex;
  justify-content: space-around;
  margin-top: 5%;
  cursor: pointer;
  font-family: sans-serif;
}
.password-reset__backdrop {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 9998;
  background: rgba(0, 0, 0, 0.3);
}
.password-reset__backdrop .password-reset {
  font-family: sans-serif;
  position: absolute;
  top: 25%;
  left: 52%;
  width: 550px;
  height: 175px;
  transform: translate(-50%, -50%);
  z-index: 9999;
  background: #ffffff;
  border: 1px solid black;
}
.password-reset__backdrop .password-reset .password-reset__contents {
  text-align: center;
  font-size: 20px;
  margin-top: 35px;
}
.home-page__main {
  min-height: 1500px;
}
.footer {
  width: 100%;
  height: 3em;
  background-color: #282828;
}
.footer .footer__text {
  padding-top: 15px;
  font-family: sans-serif;
  font-size: 15px;
  color: white;
  text-align: center;
}
