.landing-page__container {
  .landing-page__topbar {
    display: flex;
    position: relative;
    align-items: center;
    height: 66px;
    width: 100%;
    .landing-page__logo {
      margin-left: 2.5%;
    }
  }
  .landing-page__main {
    margin: 5% 0 0 2.5%;
    line-height: 1.5;
    h1 {
      font-size: 1.75em;
      padding-bottom: 15px;
      letter-spacing: 3px;
    }
    h3 {
      width: 20%;
    }
    .landing-page__login-btn {
      margin-top: 2%;
    }
  }
}