.post-page {
  &__container {
    display: flex;
    flex-direction: column;

    .post-page__post {
      display: flex;

      .post__left-col {
        width: 10%;
      }

      .post__right-col {

      }
    }

    .post-page__comments {
      margin-left: 10%;
      &-header {
        margin-bottom: 1.5%;
      }
      .post-page__new-comment-header {
        font-size: 1.25em;
        margin: 1.5% 0;
      }
    }
  }
}