.top-bar {
  display: flex;
  align-items: center;
  width: 100%;

  &__logo {
    margin-left: 2.5%;
    margin-right: auto;
  }

  &__user-button {
    margin-left: 5%;
  }

  &__user-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;    
  }

  &__search {
    margin-left: 55%;
    border-radius: 15px;
    background-color: rgb(251, 252, 253);
    padding: 5px 5px 5px 25px;
  }
  &__search-icon {
    margin: 0px 10px -5px -9px;
  }
  &__search-input {
    color: black;
    background-color: rgb(251, 252, 253);
    border-style: none;
    margin-left: -5px;
    &:focus {
      outline-width: 0;
    }
  }
  &__notifications {
    position: relative;
    padding: 10px;
    padding-bottom: 0;

    &__icon {
      width: 20px;
      height: 20px;
      position: absolute;
      right: 0;
      top: 0;
      & > img {
        width: 20px;
      }
      & > span {
        position: absolute;
        color: white;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        right: 6px;
        top: 1px;
      }
    }
    &__bell {
      width: 25px;
    }
  }
}