.user-bar__container {
  display: flex;
}

.user-bar__info {
  display: flex;
}

.user-bar__info > div {
  margin-left: 5px;
  margin-right: 5px;
}

.user-bar__info > img {
  margin-left: 5px;
  margin-right: 5px;
}